{% extends "base.html" %}

{% block content %}
<div class="row u-center">
    <div class="col-12 col-md-6 u-flex u-items-baseline u-justify-space-between">
        <h1><a href="{{ url_for('shoppingspace', slug=request.view_args.slug) }}" class="text-black font-bold">ZEDDL</a></h1>
        <div class="u-inline-flex">
            <button class="btn btn--xs btn-transparent u-center mx-2">
                <span class="material-symbols-outlined m-1">share</span>
            </button>
            <button class="btn btn--xs btn-transparent u-center mx-2" hx-trigger="click" hx-target="#zeddl-content" hx-swap="innerHTML" hx-delete="{{ url_for('clear_list', slug=request.view_args.slug) }}" >
                <span class="material-symbols-outlined m-1">delete_sweep</span>
            </button>
        </div>
        <input value="{{ request.url }}" class="input--xs" hidden>
    </div>
</div>
{% include "item.html" %}
<div class="row u-center" style="position: fixed; bottom: 1vh; left: 0%; right: 0%; margin: 0 auto">
    <div class="col-12 col-md-6">
        <form 
            hx-post="{{ url_for('add_item', slug=request.view_args.slug) }}" 
            hx-target="#zeddl-content" 
            hx-swap="innerHTML"
            id="submit-btn">
            <div class="input-control">
                <input 
                    hx-post="{{ url_for('get_suggestions', slug=request.view_args.slug) }}" 
                    hx-target="#suggestion-box"
                    hx-swap="innerHTML"
                    hx-trigger="keyup changed delay:150ms"
                    id="item-input" 
                    style="border-radius: 10px; border: 1px solid #191C21; color: #191C21; background-color: #FFFFFF" 
                    type="text" 
                    name="item" 
                    placeholder="Artikel hinzufügen"
                    class="input-contains-icon-right">
                <span class="icon icon-right"><span class="material-symbols-outlined">send</span></span>
                <button type="submit" hidden>
            </div>
        </form>
    </div>
</div>
<script>
document.body.addEventListener('htmx:afterSwap', function(event) {
    if (event.target.id === 'zeddl-content') {
        var inputField = document.getElementById('item-input');
        if (inputField) {
            inputField.value = '';
        }
        var suggestionBox = document.getElementById('suggestions');
        suggestionBox.remove();
    }
});
</script>
{% endblock %}