{% extends "base.html" %}

{% block content %}
<div class="row u-center">
    <div class="col-12 col-md-6 u-flex u-items-baseline u-justify-space-between">
        <h1><a href="{{ url_for('index') }}" class="text-black font-bold">ZEDDL</a></h1>
        <div class="u-inline-flex">
          <!--   <a href="{{ url_for('shoppingspace', slug=request.view_args.slug) }}" class="btn btn--xs btn-transparent u-center mx-2">
                <span class="material-symbols-outlined">checklist</span>
            </a> -->
            <a onclick="copyLink()" hx-get="{{ url_for('shoppingspace', slug=request.view_args.slug, action='copylink') }}" hx-target="body" id="copylink" class="btn btn--xs btn-transparent u-center mx-2">
                <span class="material-symbols-outlined m-1">share</span>
            </a>
            <a class="btn btn--xs btn-transparent u-center mx-2" hx-trigger="click" hx-target="#zeddl-content" hx-swap="innerHTML" hx-delete="{{ url_for('clear_list', slug=request.view_args.slug) }}" >
                <span class="material-symbols-outlined m-1">delete_sweep</span>
            </a>
        </div>
        <input value="{{ request.url }}" class="input--xs" hidden>
    </div>
</div>
{% include "item.html" %}
<div class="row u-center" style="position: fixed; bottom: 1vh; left: 0%; right: 0%; margin: 0 auto">
    <div class="col-12 col-md-6">
        <form 
            hx-post="{{ url_for('add_item', slug=request.view_args.slug) }}" 
            hx-target="#zeddl-content" 
            hx-swap="innerHTML"
            id="submit-btn">
            <div class="form-group input-control">
                <input 
                    hx-post="{{ url_for('get_suggestions', slug=request.view_args.slug) }}" 
                    hx-target="#suggestion-box"
                    hx-swap="innerHTML"
                    hx-trigger="keyup changed delay:150ms"
                    id="item-input" 
                    style="border-radius: 10px; border: 1px solid #191C21; color: #191C21; background-color: #FFFFFF" 
                    type="text" 
                    name="item" 
                    placeholder="Artikel hinzufügen"
                    class="form-group-input">
                <!-- <span class="icon icon-right"></span> -->
                <button class="form-group-btn u-center" type="submit" style="border-radius: 10px; border: 1px solid #191C21; color: #FFFFFF; background-color: #252932";><span class="material-symbols-outlined">send</span></button>
            </div>
        </form>
    </div>
</div>
<script>
document.body.addEventListener('htmx:afterSwap', function(event) {
    if (event.target.id === 'zeddl-content') {
        var inputField = document.getElementById('item-input');
        if (inputField) {
            inputField.value = '';
        }
        var suggestionBox = document.getElementById('suggestions');
        suggestionBox.remove();
    }
});
</script>
<script>
// document.addEventListener('htmx:afterSwap', function(event) {
    // Create a temporary hidden text element
    function copyLink() {
    const tempInput = document.createElement('input');
    tempInput.style.position = 'absolute';
    tempInput.style.left = '-9999px';
    tempInput.value = window.location.href;

    // Append it to the body
    document.body.appendChild(tempInput);

    // Select the text
    tempInput.select();
    tempInput.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    document.execCommand('copy');

    // Remove the temporary input element
    document.body.removeChild(tempInput);
}  
</script>
{% endblock %}