{% extends "base.html" %}

{% block content %}
<div class="row u-center">
    <div class="col-12 col-md-6 u-flex u-items-baseline u-justify-space-between">
        <a href="{{ request.path }}" class="text-black"><h1>ZEDDL</h1></a>
    </div>
</div>
<div class="row u-center">
    <div class="col-12 col-md-6">
        <div id="item-container">
            <h1>Space erfolgreich erstellt</h1>
            Kopiere den Link zu deinem Space: <a href="{{ url_for('shoppingspace', slug=name) }}">{{ url_for('shoppingspace', slug=name) }}</a>
        </div>
    </div>
</div>
{% endblock %}