{% extends "base.html" %}

{% block content %}
<div class="row u-center">
    <div class="col-12 col-md-6 u-flex u-items-baseline u-justify-space-between">
        <a href="{{ request.path }}" class="text-black"><h1>ZEDDL</h1></a>
    </div>
</div>
<div class="row u-center">
    <div class="col-12 col-md-6">
        <div id="item-container">
            <h2>Einkaufszeddl erfolgreich erstellt</h2>
            <p>Hier ist der Link zu deiner Einkaufsliste: <input value="{{ request.url}}{{ name }}"></p>
            <p>Kopiere den Link und teile ihn mit Freunden & Familie!</p>
            <p>Du kannst direkt starten & Artikel zu deiner Einkaufsliste hinzufügen.</p>
            <a href="{{ url_for('shoppingspace', slug=name) }}" type="button" class="btn btn--s">Zum Einkaufszeddl</a>
        </div>
    </div>
</div>
{% endblock %}